<p id="notice"><%= notice %></p>

<div class="text-edit">

<p>
  <strong>Nom:</strong>
  <%= @film.nom %>
</p>

<p>
  <strong>Realisateur:</strong>
  <%= @film.realisateur %>
</p>

<p>
  <strong>Date:</strong>
  <%= @film.date %>
</p>
 
 </div>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
